---
layout: default
---

<div class="home">

  <section class="about-section">
    <img src="{{ '/assets/images/profile_pic.jpg' | relative_url }}" alt="Wo Wei Lin" class="profile-img">
    
    <div class="about-text">
      {%- if page.title -%}
        <h1 class="page-heading">{{ page.title | default: "About Me" }}</h1>
      {%- else -%}
        <h1 class="page-heading">About Me</h1>
      {%- endif -%}
      
      {{ content }}
      
      </div>
  </section>

  {%- if site.posts.size > 0 -%}
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Recent Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
        <li>
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            <p>{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>